iframe {
  width: 98%;
  border: 0;
  outline: none;
  padding-top: 2.4rem;
  overflow: hidden;
}

.description--subtitle {
  font-weight: bold;
  padding-top: 12px;
}

.features-list {
  padding-left: 24px;
  padding-top: 12px;
  line-height: 1.2;
}

.project--content h1 {
  padding-bottom: 4px;
  margin-bottom: 24px;
}

.project--content p:nth-child(2) {
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
}

.vercel--wrapper {
  display: flex;
  gap: 10px;
}

.vercel--wrapper a {
  color: black;
  font-family: "Montserrat";
}

.vercel--wrapper img {
  max-width: 80px;
}

.links--wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.full-screen-text {
  font-weight: bold;
}
